{% extends 'base.html' %} 
{% load  static  %}
{% block content %}

<!-- content -->
<div class="mil-content">
  <div id="swupMain" class="mil-main-transition">
    <!-- banner -->
    <section class="mil-banner mil-dark-bg">
      <div class="mi-invert-fix">
        <div class="mil-animation-frame">
          <div
            class="mil-animation mil-position-1 mil-scale"
            data-value-1="7"
            data-value-2="1.6"
          ></div>
          <div
            class="mil-animation mil-position-2 mil-scale"
            data-value-1="4"
            data-value-2="1"
          ></div>
          <div
            class="mil-animation mil-position-3 mil-scale"
            data-value-1="1.2"
            data-value-2=".1"
          ></div>
        </div>

        <div class="mil-gradient"></div>

        <div class="container">
          <div class="mil-banner-content mil-up">
            <h1 class="mil-muted mil-mb-60">
              <span style="color: #52b947">BENKAM</span>
              <span class="mil-thin"
                >—precision in every millimeter reliability in every
                profile</span
              >
            </h1>
            <div class="row">
              <div class="col-md-7 col-lg-5">
                <p class="mil-light-soft mil-mb-60">
                  Leading manufacturer of aluminum profiles in Central Asia,
                  founded in 2015 by European and Uzbek partners. The company is
                  focused on exports to Europe, Central Asia and far abroad,
                  producing products that meet ISO, ASTM, ANSI and EN standards
                </p>
              </div>
            </div>

            <a
              href="{% url 'portfolio1' %}"
              class="mil-button mil-arrow-place mil-btn-space"
            >
              <span>View works</span>
            </a>

            <div class="mil-circle-text">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 300 300"
                enable-background="new 0 0 300 300"
                xml:space="preserve"
                class="mil-ct-svg mil-rotate"
                data-value="360"
              >
                <defs>
                  <path
                    id="circlePath"
                    d="M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
                  />
                </defs>
                <circle cx="150" cy="100" r="75" fill="none" />
                <g>
                  <use xlink:href="#circlePath" fill="none" />
                  <text style="letter-spacing: 6.5px">
                    <!-- circle text -->
                    <textPath xlink:href="#circlePath">
                      Scroll down - Scroll down -
                    </textPath>
                  </text>
                </g>
              </svg>
              <a
                href="#about"
                class="mil-button mil-arrow-place mil-icon-button mil-arrow-down"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- about -->
    <section id="about">
      <div class="container mil-p-120-30">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 col-xl-5">
            <div class="mil-mb-90">
              <h2 class="mil-up mil-mb-60">
                About the company<br />
                <span class="mil-thin"></span>
              </h2>
              <p class="mil-up mil-mb-30">
                BENKAM was founded in 2015 with the aim of producing
                high-quality aluminum profiles for various industries, including
                construction, automotive and energy.
              </p>

              <p class="mil-up mil-mb-60">
                Our facility is equipped with six modern extrusion presses from
                Italian and Korean manufacturers, with capacities ranging from
                1,000 to 4,000 tons. We operate two vertical powder coating
                lines that support profiles up to 7 meters in length, and one
                horizontal coating line for profiles up to 12 meters. The
                production site also includes an anodizing line and a decorative
                coating (sublimation) line that replicates wood texture and
                other decorative effects. The surface treatment section features
                satin finishing, shot blasting, and polishing processes. The
                entire production process is fully automated, ensuring high
                precision and minimal defects. Our annual production capacity
                reaches up to 45,000 tons of finished products.
              </p>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="mil-about-photo mil-mb-90">
              <div class="mil-lines-place"></div>
              <div
                class="mil-up mil-img-frame"
                style="padding-bottom: 160%; position: relative"
              >
                <iframe
                  src="https://www.youtube.com/embed/FwTMJy0bjVE?start=0&autoplay=0"
                  title="YouTube video player"
                  frameborder="0"
                  allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                >
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about end -->

    <!-- services -->
    <section class="mil-dark-bg">
      <div class="mi-invert-fix">
        <div class="mil-animation-frame">
          <div
            class="mil-animation mil-position-1 mil-scale"
            data-value-1="2.4"
            data-value-2="1.4"
            style="top: 300px; right: -100px"
          ></div>
          <div
            class="mil-animation mil-position-2 mil-scale"
            data-value-1="2"
            data-value-2="1"
            style="left: 150px"
          ></div>
        </div>
        <div class="container mil-p-120-0">
          <div class="mil-mb-120">
            <div class="row">
              <div class="col-lg-10">
                <span
                  class="mil-suptitle mil-light-soft mil-suptitle-right mil-up"
                  >Professionals focused on helping your brand<br />
                  grow and move forward.</span
                >
              </div>
            </div>
            d
            <div
              class="mil-complex-text justify-content-center mil-up mil-mb-15"
            >
              <h2 class="mil-h1 mil-muted mil-center">
                QUALITY <span class="mil-thin">SOLUTIONS </span>
              </h2>
            </div>
            <div class="mil-complex-text justify-content-center mil-up">
              <h2 class="mil-h1 mil-muted mil-center">
                FOR ANY <span class="mil-thin">TASKS</span>
              </h2>
              <a
                href="{% url 'services' %}"
                class="mil-services-button mil-button mil-arrow-place"
                ><span>What we do</span></a
              >
            </div>
          </div>

          <div class="row mil-services-grid m-0">
            <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
              <a href="{% url 'service' %}" class="mil-service-card-sm mil-up">
                <h5 class="mil-muted mil-mb-30">
                  PROFILE WITHOUT <br />PROCESSING
                </h5>
                <p class="mil-light-soft mil-mb-30">
                  Our creative agency is a team of professionals focused on
                  helping your brand grow.
                </p>
                <div
                  class="mil-button mil-icon-button-sm mil-arrow-place"
                ></div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
              <a href="{% url 'service' %}" class="mil-service-card-sm mil-up">
                <h5 class="mil-muted mil-mb-30">
                  ANODIZED <br />
                  PROFILE
                </h5>
                <p class="mil-light-soft mil-mb-30">
                  Our creative agency is a team of professionals focused on
                  helping your brand grow.
                </p>
                <div
                  class="mil-button mil-icon-button-sm mil-arrow-place"
                ></div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
              <a href="{% url 'service' %}" class="mil-service-card-sm mil-up">
                <h5 class="mil-muted mil-mb-30">
                  POWDER <br />
                  COATING
                </h5>
                <p class="mil-light-soft mil-mb-30">
                  Our creative agency is a team of professionals focused on
                  helping your brand grow.
                </p>
                <div
                  class="mil-button mil-icon-button-sm mil-arrow-place"
                ></div>
              </a>
            </div>
            <div class="col-md-6 col-lg-3 mil-services-grid-item p-0">
              <a href="{% url 'service' %}" class="mil-service-card-sm mil-up">
                <h5 class="mil-muted mil-mb-30">
                  DECORATIVE COATING (SUBLIMATION)
                </h5>
                <p class="mil-light-soft mil-mb-30">
                  Our creative agency is a team of professionals focused on
                  helping your brand grow.
                </p>
                <div
                  class="mil-button mil-icon-button-sm mil-arrow-place"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- services end -->

    <!-- team -->
    <section>
      <div class="container mil-p-120-30">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-5 col-xl-4">
            <div class="mil-mb-90">
              <h2 class="mil-up mil-mb-60">Meet <br />Our Team</h2>
              <p class="mil-up mil-mb-30">
                At BENKAM, we believe that a strong team is the key to
                sustainable development and high product quality. Our team
                unites professionals in the fields of engineering, metallurgy,
                painting technology, logistics and customer service. Each of us
                is part of the overall process, from the idea to the shipment of
                finished products.
              </p>

              <p class="mil-up mil-mb-60">
                Together, our creative team is committed to delivering impactful
                work that exceeds expectations.
              </p>

              <div class="mil-up">
                <a
                  href="{% url 'team' %}"
                  class="mil-button mil-arrow-place mil-mb-60"
                  ><span>Read more</span></a
                >
              </div>

              <h4 class="mil-up">
                <span class="mil-thin">We </span> work <br /><span
                  class="mil-thin"
                  >for your results</span
                >
                results.
              </h4>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mil-team-list">
              <div class="mil-lines-place"></div>

              <div class="row mil-mb-60">
                <div class="col-sm-6">
                  {% for member in team_members|slice:":2" %}
                  <div class="mil-team-card mil-up mil-mb-30 our_team">
                    <img src="{{ member.image.url }}" alt="Team member" class="w-48 h-48 object-cover rounded-lg" />
                    <div class="mil-description">
                      <div class="mil-secrc-text">
                        <h5 class="mil-muted mil-mb-5">
                          <a href="{% url 'team_detail' member.pk %}"
                            >{{ member.name }}</a
                          >
                        </h5>
                        <p class="mil-link mil-light-soft mil-mb-10">
                          {{ member.role }}
                        </p>
                        <ul class="mil-social-icons mil-center">
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-behance"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-dribbble"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-github"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="col-sm-6">
                  <p
                    class="mil-mobile-hidden mil-text-sm mil-mb-30"
                    style="height: 30px"
                  >
                    <span class="mil-accent">*</span> The founders of our agency
                  </p>

                  {% for member in team_members|slice:"2:4" %}
                  <div class="mil-team-card mil-up mil-mb-30 our_team">
                    <img src="{{ member.image.url }}" alt="Team member" class="w-48 h-48 object-cover rounded-lg" />
                    <div class="mil-description">
                      <div class="mil-secrc-text">
                        <h5 class="mil-muted mil-mb-5">
                          <a href="{% url 'team_detail' member.pk %}"
                            >{{ member.name }}</a
                          >
                        </h5>
                        <p class="mil-link mil-light-soft mil-mb-10">
                          {{ member.role }}
                        </p>
                        <ul class="mil-social-icons mil-center">
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-behance"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-dribbble"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#." target="_blank" class="social-icon">
                              <i class="fab fa-github"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- team end -->

    <!-- reviews -->
    <!-- <section class="mil-soft-bg">
      <div class="container mil-p-120-120">
        <div class="row">
          <div class="col-lg-10">
            <span
              class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
              >Customer reviews are a valuable source <br />of information for
              both businesses and consumers.</span
            >
          </div>
        </div>

        <h2 class="mil-center mil-up mil-mb-60">
          Customer <span class="mil-thin">Voices:</span> <br />Hear What
          <span class="mil-thin">They Say!</span>
        </h2>

        <div class="mil-revi-pagination mil-up mil-mb-60"></div>

        <div class="row mil-relative justify-content-center">
          <div class="col-lg-8">
            <div class="mil-slider-nav mil-soft mil-reviews-nav mil-up">
              <div
                class="mil-slider-arrow mil-prev mil-revi-prev mil-arrow-place"
              ></div>
              <div class="mil-slider-arrow mil-revi-next mil-arrow-place"></div>
            </div>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 48 48"
              class="mil-quote-icon mil-up"
            >
              <path
                d="M 13.5 10 A 8.5 8.5 0 0 0 13.5 27 A 8.5 8.5 0 0 0 18.291016 25.519531 C 17.422273 29.222843 15.877848 31.803343 14.357422 33.589844 C 12.068414 36.279429 9.9433594 37.107422 9.9433594 37.107422 A 1.50015 1.50015 0 1 0 11.056641 39.892578 C 11.056641 39.892578 13.931586 38.720571 16.642578 35.535156 C 19.35357 32.349741 22 27.072581 22 19 A 1.50015 1.50015 0 0 0 21.984375 18.78125 A 8.5 8.5 0 0 0 13.5 10 z M 34.5 10 A 8.5 8.5 0 0 0 34.5 27 A 8.5 8.5 0 0 0 39.291016 25.519531 C 38.422273 29.222843 36.877848 31.803343 35.357422 33.589844 C 33.068414 36.279429 30.943359 37.107422 30.943359 37.107422 A 1.50015 1.50015 0 1 0 32.056641 39.892578 C 32.056641 39.892578 34.931586 38.720571 37.642578 35.535156 C 40.35357 32.349741 43 27.072581 43 19 A 1.50015 1.50015 0 0 0 42.984375 18.78125 A 8.5 8.5 0 0 0 34.5 10 z"
                fill="#000000"
              />
            </svg>

            <div class="swiper-container mil-reviews-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Sarah Newman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      This creative agency stands out with their exceptional
                      talent and expertise. Their ability to think outside the
                      box and bring unique ideas to life is truly impressive.
                      With meticulous attention to detail, they consistently
                      deliver visually stunning and impactful work.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Emma Trueman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      I had the pleasure of working with this creative agency,
                      and I must say, they truly impressed me. They consistently
                      think outside the box, resulting in impressive and
                      impactful work. I highly recommend this agency for their
                      consistent delivery of exceptional creative solutions.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Sarah Newman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      This creative agency stands out with their exceptional
                      talent and expertise. Their ability to think outside the
                      box and bring unique ideas to life is truly impressive.
                      With meticulous attention to detail, they consistently
                      deliver visually stunning and impactful work.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Emma Trueman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      I had the pleasure of working with this creative agency,
                      and I must say, they truly impressed me. They consistently
                      think outside the box, resulting in impressive and
                      impactful work. I highly recommend this agency for their
                      consistent delivery of exceptional creative solutions.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Sarah Newman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      This creative agency stands out with their exceptional
                      talent and expertise. Their ability to think outside the
                      box and bring unique ideas to life is truly impressive.
                      With meticulous attention to detail, they consistently
                      deliver visually stunning and impactful work.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Emma Trueman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      I had the pleasure of working with this creative agency,
                      and I must say, they truly impressed me. They consistently
                      think outside the box, resulting in impressive and
                      impactful work. I highly recommend this agency for their
                      consistent delivery of exceptional creative solutions.
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="mil-review-frame mil-center"
                    data-swiper-parallax="-200"
                    data-swiper-parallax-opacity="0"
                  >
                    <h5 class="mil-up mil-mb-10">Sarah Newman</h5>
                    <p class="mil-mb-5 mil-upper mil-up mil-mb-30">
                      Envato market
                    </p>
                    <p class="mil-text-xl mil-up">
                      This creative agency stands out with their exceptional
                      talent and expertise. Their ability to think outside the
                      box and bring unique ideas to life is truly impressive.
                      With meticulous attention to detail, they consistently
                      deliver visually stunning and impactful work.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- reviews end -->

    <!-- partners -->
    <div class="mil-soft-bg" id="only-this-team">
      <div class="container mil-p-0-100">
        <div class="swiper-container mil-infinite-show mil-up">
          <div
            class="swiper-wrapper"
            style="display: flex; align-items: center"
          >
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (1).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (2).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (3).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (4).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (5).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (6).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (7).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (8).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (9).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (10).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (11).png' %}"
                  alt="logo"
              /></a>
            </div>
            <div class="swiper-slide">
              <a href="#." class="mil-partner-frame" style="width: 150px"
                ><img
                  src="{% static 'img/partners/partner (12).png' %}"
                  alt="logo"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- partners end -->

    <!-- blog -->
    <section>
      <div class="container mil-p-120-60">
        <div class="row align-items-center mil-mb-30">
          <div class="col-lg-6 mil-mb-30">
            <h3 class="mil-up">Popular Publications:</h3>
          </div>
          <div class="col-lg-6 mil-mb-30">
            <div class="mil-adaptive-right mil-up">
              <a href="{% url 'blog2' %}" class="mil-link mil-dark mil-arrow-place">
                <span>View all</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="{% url 'publication' %}" class="mil-blog-card mil-mb-60">
              <div class="mil-cover-frame mil-up">
                <img src="{% static 'img/blog/news1.jpg' %}" alt="cover" />
              </div>
              <div class="mil-post-descr">
                <div class="mil-labels mil-up mil-mb-30">
                  <div class="mil-label mil-upper mil-accent">TECHNOLOGY</div>
                  <div class="mil-label mil-upper">April 18 2025</div>
                </div>
                <h4 class="mil-up mil-mb-30">
                  Benkam ишлаб чиқариш майдончаси – ёшлар ва бўлажак
                  мутахассислар учун очиқ
                </h4>
                <p class="mil-post-text mil-up mil-mb-30">
                  Халқаро ривожланиш стратегияси доирасида Benkam жамоаси қолип
                  тизимлари ва қурилиш технологиялари соҳасида жаҳон
                  етакчиларидан бири бўлган PERI вакиллари билан ишбилармонлик
                  учрашувини ўтказди. 💠Музокаралар чоғида қурилиш саноати учун
                  алюминий ечимлари соҳасидаги ҳамкорлик истиқболлари,
                  шунингдек, Benkam маҳсулотларини PERI глобал таъминот
                  занжирларига интеграция қилиш имкониятлари муҳокама қилинди.
                  Учрашув халқаро миқёсда стратегик саноат шериклигини
                  шакллантириш йўлидаги муҳим қадам бўлди.
                </p>
                <div class="mil-link mil-dark mil-arrow-place mil-up">
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>

          <div class="col-lg-6">
            <a href="{% url 'publication' %}" class="mil-blog-card mil-mb-60">
              <div class="mil-cover-frame mil-up">
                <img src="{% static 'img/blog/news2.jpg' %}" alt="cover" />
              </div>
              <div class="mil-post-descr">
                <div class="mil-labels mil-up mil-mb-30">
                  <div class="mil-label mil-upper mil-accent">TECHNOLOGY</div>
                  <div class="mil-label mil-upper">April 30 2025</div>
                </div>
                <h4 class="mil-up mil-mb-30">
                  Benkam ишлаб чиқариш майдончаси – ёшлар ва бўлажак
                  мутахассислар учун очиқ
                </h4>
                <p class="mil-post-text mil-up mil-mb-30">
                  Benkam ишлаб чиқариши ёш авлодни ривожлантириш ва талабаларни
                  касбга йўналтиришга қаратилган ташаббусларни фаол
                  қўллаб-қувватлашда давом этмоқда. Корхонанинг навбатдаги
                  ташрифчилари Навоий вилоят Кармана туман 1-сонли саноат
                  техникуми ўқувчилари бўлишди. Танишув давомида ўқитувчилар ва
                  ўқувчилар замонавий технологияларни кўздан кечириш, алюминий
                  профилини ишлаб чиқариш, унга якуний ишлов бериш жараёнларини
                  кўриш, шунингдек, корхона мутахассисларига ўзларини
                  қизиқтирган саволларни бериш имкониятига эга бўлдилар.
                </p>
                <div class="mil-link mil-dark mil-arrow-place mil-up">
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- blog end -->

    <div style="position: relative; margin: auto; top: 10px;">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.383340752172!2d65.15313359198903!3d40.149860286575716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f51b50a57a49c01%3A0xc5ba5b00baa15ecb!2sBENKAM%20Alu%20Extrusions!5e1!3m2!1sru!2s!4v1755177936875&layer=s!5m2!1sru!2s" 
        width="100%" 
        height="550" 
        
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>

    <!-- Floating Button -->
    <a href="https://akfagroup.com/benkam/" 
       target="_blank"
       style="position: absolute; bottom: 28px; right: 70px; background: rgba(0, 120, 255, 0.9); color: white; padding: 10px 20px; border-radius: 8px; font-weight: bold; text-decoration: none; font-size: 14px; transition: background 0.3s;">
        360° View
    </a>
</div>
  </div>
</div>
<!-- content -->
{% endblock content %}
