{% extends 'base.html' %} 
    {% block content %}
      <!-- content -->
      <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">
          <!-- banner -->
          <div class="mil-inner-banner">
            <div class="mil-banner-content mil-up">
              <div class="mil-animation-frame">
                <div
                  class="mil-animation mil-position-4 mil-dark mil-scale"
                  data-value-1="6"
                  data-value-2="1.4"
                ></div>
              </div>
              <div class="container">
                <ul class="mil-breadcrumbs mil-mb-60">
                  <li><a href="home-1.html">Homepage</a></li>
                  <li><a href="portfolio-1.html">Portfolio</a></li>
                  <li><a href="project-1.html">Project</a></li>
                </ul>
                <h1 class="mil-mb-60">
                  Air Pro <span class="mil-thin">by Molekule</span>
                </h1>
                <a
                  href="#project"
                  class="mil-link mil-dark mil-arrow-place mil-down-arrow"
                >
                  <span>Read more</span>
                </a>
              </div>
            </div>
          </div>
          <!-- banner end -->

          <!-- project -->
          <section class="mil-p-120-120">
            <div class="mil-image-frame mil-fw mil-up">
              <img src="img/works/6/1.jpg" alt="image" />
              <a
                data-fancybox="gallery"
                data-no-swup
                href="img/works/6/1.jpg"
                class="mil-zoom-btn"
              >
                <img src="img/icons/zoom.svg" alt="zoom" />
              </a>
            </div>
            <div class="container" id="project">
              <div class="mil-info mil-up">
                <div>
                  Client: &nbsp;<span class="mil-dark">Envato Market</span>
                </div>
                <div>Date: &nbsp;<span class="mil-dark">April 2023</span></div>
                <div>
                  Author: &nbsp;<span class="mil-dark">Paul Trueman</span>
                </div>
              </div>
              <div class="mil-p-120-120">
                <div class="swiper-container mil-2-slider mil-up">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="mil-image-frame mil-vertical mil-drag">
                        <img src="img/works/6/2.gif" alt="image" />
                        <a
                          data-fancybox="gallery"
                          data-no-swup
                          href="img/works/6/2.gif"
                          class="mil-zoom-btn"
                        >
                          <img src="img/icons/zoom.svg" alt="zoom" />
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="mil-image-frame mil-vertical mil-drag">
                        <img src="img/works/6/3.jpg" alt="image" />
                        <a
                          data-fancybox="gallery"
                          data-no-swup
                          href="img/works/6/3.jpg"
                          class="mil-zoom-btn"
                        >
                          <img src="img/icons/zoom.svg" alt="zoom" />
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="mil-image-frame mil-vertical mil-drag">
                        <img src="img/works/6/4.gif" alt="image" />
                        <a
                          data-fancybox="gallery"
                          data-no-swup
                          href="img/works/6/4.gif"
                          class="mil-zoom-btn"
                        >
                          <img src="img/icons/zoom.svg" alt="zoom" />
                        </a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="mil-image-frame mil-vertical mil-drag">
                        <img src="img/works/6/5.jpg" alt="image" />
                        <a
                          data-fancybox="gallery"
                          data-no-swup
                          href="img/works/6/5.jpg"
                          class="mil-zoom-btn"
                        >
                          <img src="img/icons/zoom.svg" alt="zoom" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-between mil-p-120-0">
                  <div class="col-lg-5">
                    <h3 class="mil-up mil-mb-60">
                      Simplicity, elegance, innovation!
                    </h3>
                  </div>
                  <div class="col-lg-6">
                    <p class="mil-up mil-mb-30">
                      A home surveillance camera that pays great attention to
                      security and user privacy, featuring two modes to provide
                      security while protecting personal privacy.The camera has
                      an open and closed mode, we define the product to have
                      clear two sides, expressing two working states and
                      emotions.
                    </p>

                    <p class="mil-up">
                      Presents a simple and quiet state when not in use,
                      delivering a gentle and security.At the same time, the
                      camera can adapt to a variety of environments, providing
                      elegant ways of wall hanging and standing installation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-container mil-2-slider mil-up mil-mb-120">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="mil-image-frame mil-horizontal mil-drag">
                      <img src="img/works/6/6.jpg" alt="image" />
                      <a
                        data-fancybox="gallery"
                        data-no-swup
                        href="img/works/6/6.jpg"
                        class="mil-zoom-btn"
                      >
                        <img src="img/icons/zoom.svg" alt="zoom" />
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="mil-image-frame mil-horizontal mil-drag">
                      <img src="img/works/6/7.jpg" alt="image" />
                      <a
                        data-fancybox="gallery"
                        data-no-swup
                        href="img/works/6/7.jpg"
                        class="mil-zoom-btn"
                      >
                        <img src="img/icons/zoom.svg" alt="zoom" />
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="mil-image-frame mil-horizontal mil-drag">
                      <img src="img/works/6/8.jpg" alt="image" />
                      <a
                        data-fancybox="gallery"
                        data-no-swup
                        href="img/works/6/8.jpg"
                        class="mil-zoom-btn"
                      >
                        <img src="img/icons/zoom.svg" alt="zoom" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mil-works-nav mil-up">
                <a
                  href="project-5.html"
                  class="mil-link mil-dark mil-arrow-place mil-icon-left"
                >
                  <span>Prev project</span>
                </a>
                <a href="portfolio-1.html" class="mil-link mil-dark">
                  <span>All projects</span>
                </a>
                <a
                  href="#."
                  class="mil-link mil-dark mil-arrow-place mil-disabled"
                >
                  <span>Next project</span>
                </a>
              </div>
            </div>
          </section>
          <!-- project end -->

          <!-- call to action -->
          <section class="mil-soft-bg">
            <div class="container mil-p-120-120">
              <div class="row">
                <div class="col-lg-10">
                  <span
                    class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
                    >Looking to make your mark? We'll help you turn <br />
                    your project into a success story.</span
                  >
                </div>
              </div>
              <div class="mil-center">
                <h2 class="mil-up mil-mb-60">
                  Got a project <span class="mil-thin">in mind?</span>
                  <br />Let's make it a reality
                  <span class="mil-thin">together</span>
                </h2>
                <div class="mil-up">
                  <a href="contact.html" class="mil-button mil-arrow-place"
                    ><span>Contact us</span></a
                  >
                </div>
              </div>
            </div>
          </section>
          <!-- call to action end -->


        </div>
      </div>
      <!-- content -->

    {% endblock content %}