{% extends 'base.html' %} 
{% load static %}
    {% block content %}
      <!-- content -->
      <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">
          <!-- banner -->
          <div class="mil-inner-banner">
            <div class="mil-banner-content mil-up">
              <div class="mil-animation-frame">
                <div
                  class="mil-animation mil-position-4 mil-dark mil-scale"
                  data-value-1="6"
                  data-value-2="1.4"
                ></div>
              </div>
              <div class="container">
                <ul class="mil-breadcrumbs mil-mb-60">
                  <li><a href="home-1.html">Homepage</a></li>
                  <li><a href="portfolio-1.html">Portfolio</a></li>
                  <li><a href="project-1.html">Project</a></li>
                </ul>
                <h1 class="mil-mb-60">
                  Air Pro <span class="mil-thin">by Molekule</span>
                </h1>
                <a
                  href="#project"
                  class="mil-link mil-dark mil-arrow-place mil-down-arrow"
                >
                  <span>Read more</span>
                </a>
              </div>
            </div>
          </div>
          <!-- banner end -->

          <!-- project -->
   <section class="mil-p-120-0">
    <div class="container mil-p-0-120" id="project">
        <div class="mil-p-120-0">
            <div class="swiper-container mil-2-slider mil-up">
                <div class="swiper-wrapper">

                    {# Agar offerda bir nechta rasm bo‘lsa #}
                    {% if offer.images.all %}
                        {% for img in offer.images.all %}
                        <div class="swiper-slide">
                            <div class="mil-image-frame mil-square mil-drag">
                                <img src="{{ img.image.url }}" alt="{{ offer.name }}" />
                                <a
                                    data-fancybox="gallery"
                                    data-no-swup
                                    href="{{ img.image.url }}"
                                    class="mil-zoom-btn"
                                >
                                    <img src="{% static 'img/icons/zoom.svg' %}" alt="zoom" />
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        {# Agar galereya bo‘lmasa, asosiy rasm chiqadi #}
                        <div class="swiper-slide">
                            <div class="mil-image-frame mil-square mil-drag">
                                <img src="{{ offer.image.url }}" alt="{{ offer.name }}" />
                                <a
                                    data-fancybox="gallery"
                                    data-no-swup
                                    href="{{ offer.image.url }}"
                                    class="mil-zoom-btn"
                                >
                                    <img src="{% static 'img/icons/zoom.svg' %}" alt="zoom" />
                                </a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class="row justify-content-between mil-p-120-120">
                <div class="col-lg-5">
                    <h3 class="mil-up mil-mb-60">
                        {{ offer.name }}
                    </h3>
                </div>
                <div class="col-lg-6">
                    <p class="mil-up mil-mb-30">
                        {{ offer.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
          <!-- project end -->

          <!-- call to action -->
          <section class="mil-soft-bg">
            <div class="container mil-p-120-120">
              <div class="row">
                <div class="col-lg-10">
                  <span
                    class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up"
                    >Looking to make your mark? We'll help you turn <br />
                    your project into a success story.</span
                  >
                </div>
              </div>
              <div class="mil-center">
                <h2 class="mil-up mil-mb-60">
                  Ready to bring your
                  <span class="mil-thin">ideas to</span> life? <br />
                  We're <span class="mil-thin">here to help</span>
                </h2>
                <div class="mil-up">
                  <a href="{% url 'contact' %}" class="mil-button mil-arrow-place"
                    ><span>Contact us</span></a>
                    
                </div>
              </div>
            </div>
          </section>
          <!-- call to action end -->


        </div>
      </div>
      <!-- content -->
    {% endblock content %}