{% extends 'base.html' %} {% load static %} {% block content %}

<!-- content -->
<div class="mil-content">
  <div id="swupMain" class="mil-main-transition">
    <!-- banner -->
    <div class="mil-inner-banner">
      <div class="mil-banner-content mil-center mil-up">
        <div class="container">
          <ul class="mil-breadcrumbs mil-center mil-mb-60">
            <li><a href="{% url 'home-1' %}">Homepage</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'blog' %}">Publication</a></li>
          </ul>
          <h2>BENKAM Publication</h2>
        </div>
      </div>
    </div>
    <!-- banner end -->

    <!-- publication -->

    <section id="blog">
      <div class="container mil-p-120-90">
        <div class="row justify-content-center">
          <!-- Cover image -->
          <div class="col-lg-12">
            <div class="mil-image-frame mil-horizontal mil-up">
              {% if post.images.first %}
              <img
                src="{{ post.images.first.image.url }}"
                alt="Publication cover"
                class="mil-scale"
                data-value-1=".90"
                data-value-2="1.15"
              />
              {% else %}
              <img
                src="{% static 'img/blog/default.jpg' %}"
                alt="Publication cover"
                class="mil-scale"
                data-value-1=".90"
                data-value-2="1.15"
              />
              {% endif %}
            </div>
          </div>

          <!-- Content -->
          <div class="col-lg-8">
            <p class="mil-text-xl mil-dark mil-up mil-mb-60">
              {{ post.description }}
            </p>

            <h5 class="mil-up mil-mb-30">{{ post.title }}</h5>
            <p class="mil-up mil-mb-60">Sana: {{ post.date }}</p>

            <!-- Qo‘shimcha rasmlar chiqishi -->
            <div class="row">
              {% for img in post.images.all %}
              <div class="col-lg-6 mil-mb-30">
                <img
                  src="{{ img.image.url }}"
                  alt="Rasm"
                  style="width: 100%; border-radius: 8px"
                />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- publication end -->

    <!-- similar -->
    <section class="mil-soft-bg">
      <div class="container mil-p-120-60">
        <div class="row align-items-center mil-mb-30">
          <div class="col-lg-6 mil-mb-30">
            <h3 class="mil-up">Similar Publications:</h3>
          </div>
          <div class="col-lg-6 mil-mb-30">
            <div class="mil-adaptive-right mil-up">
              <a
                href="{% url 'blog_inner' %}"
                class="mil-link mil-dark mil-arrow-place"
              >
                <span>View all</span>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          {% for sim in similar_posts %}
          <div class="col-lg-6">
            <a
              href="{% url 'publication' sim.id %}"
              class="mil-blog-card mil-mb-60"
            >
              <div class="mil-cover-frame mil-up">
                {% if sim.images.first %}
                <img src="{{ sim.images.first.image.url }}" alt="cover" />
                {% else %}
                <img src="{% static 'img/blog/default.jpg' %}" alt="cover" />
                {% endif %}
              </div>
              <div class="mil-post-descr">
                <div class="mil-labels mil-up mil-mb-30">
                  <div class="mil-label mil-upper">{{ sim.date }}</div>
                </div>
                <h4
                  class="mil-up mil-mb-30"
                  style="
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ sim.title }}
                </h4>
                <p class="mil-post-text mil-up mil-mb-30">
                  {{ sim.description|truncatewords:30 }}
                </p>
                <div class="mil-link mil-dark mil-arrow-place mil-up">
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- similar end -->
  </div>
</div>
<!-- content -->
{% endblock content %}
