{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mil-content">
  <div id="swupMain" class="mil-main-transition">

    <!-- banner -->
    <div class="mil-inner-banner">
      <div class="mil-banner-content mil-up">
        <div class="container">
          <ul class="mil-breadcrumbs mil-mb-60">
            <li><a href="{% url 'home-1' %}">Homepage</a></li>
            <li><a href="{% url 'home-1' %}">Services</a></li>
            <li>{{ service.title }}</li>
          </ul>
          <h1 class="mil-mb-60">
            {{ service.title }} <span class="mil-thin">{{ service.subtitle }}</span>
          </h1>
          <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
            <span>About service</span>
          </a>
        </div>
      </div>
    </div>
    <!-- banner end -->

    <!-- service -->
    <section id="service">
      <div class="container mil-p-120-90">
        <div class="row justify-content-between">

          <!-- description -->
          <div class="col-lg-4 mil-relative mil-mb-90">
            <p class="mil-up mil-mb-30">
              {{ service.description }}
            </p>
          </div>

          <!-- accordions -->
          <div class="col-lg-6">
            {% for acc in accordions %}
              <div class="mil-accordion-group mil-up">
                <div class="mil-accordion-menu">
                  <p class="mil-accordion-head">{{ acc.accordion_title }}</p>
                  <div class="mil-symbol mil-h3">
                    <div class="mil-plus">+</div>
                    <div class="mil-minus">-</div>
                  </div>
                </div>
                <div class="mil-accordion-content">
                  <p class="mil-mb-30">{{ acc.accordion_desc }}</p>
                </div>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </section>
    <!-- service end -->

  </div>
</div>
{% endblock content %}
