Django==5.2.3
gunicorn
whitenoise
psycopg2-binary
redis
celery
django-celery-beat
django-filter
django-jazzmin
django-rosetta
django-select2
django-timezone-field
django-widget-tweaks

# Data va ilmiy kutubxonalar
numpy==1.26.4
pandas
scipy

# XML, PDF va image ishlash uchun
lxml
pillow
pdf2image
pdfminer.six
pdfplumber
PyPDF2
pypdfium2
PyMuPDF
python-docx
qrcode

# OAuth va Google servislar
google-auth
google-auth-oauthlib
gspread
httplib2
oauth2client
oauthlib
requests
requests-oauthlib
requests-toolbelt

# LangChain va AI ishlatish uchun
openai
tiktoken
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith

# Qo‘shimcha foydali kutubxonalar
argon2-cffi
argon2-cffi-bindings
attrs
cryptography
python-dotenv
pytz
sqlparse
